{% extends 'Man_index.html' %}
{% block content %}
{% load static %}
<style>
    #a {
        font-size: 100%;
    }
</style>

<div class="row ">


    <h4 class="card-title">Update Subject</h4>
    <div class="col-md-8">

        <div class="card p-3 mt-3">
            <form method="post" action="#" enctype="multipart/form-data">
                {% csrf_token %}


                <label for="exampleTextarea1">Subject</label>
                <div class="md-form mb-4 pink-textarea active-pink-textarea">
                    <i class="fa fa-angle-double-right prefix"></i>
                    <input id="text" name="subj" class="md-textarea form-control" rows="1"
                        value="Maths">

                </div>

                <label for="exampleTextarea1">Rate</label>
                <div class="md-form mb-4 pink-textarea active-pink-textarea">
                    <i class="fa fa-angle-double-right prefix"></i>
                    <input id="text" name="srate" class="md-textarea form-control" rows="1"
                        value="200">

                </div>

                <div class="form-group">
                    <label>Batch</label>
                    <select class="form-control" style="color:white;" name="subbatch" id="emp">
                        <option selected  value="#">Morning Batch</option>
                        <option value="#">-</option>
                        <option value="#">Morning Batch</option>
                        <option value="#">Full Day</option>
                      

                    </select>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4 mt-4">
                        <button type="submit" class="btn btn-outline-primary w-100">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}