{% extends 'Man_index.html' %} {% load static %} {% block content %}
<div class="row ">
    <h3 class="card-title" style="font-size: 20px;font-weight: 600;opacity: 0.9;color: #6c7293;">Staff&nbsp;Leave</h3><br><br>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">

        <br>

        <div class="card">
            <div class="card-body">

                <div class="row" style="margin-top: -16px">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12"><br></div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" style="color:white;">
                            </div>
                        </form>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table" id="myTable">
                        <thead>
                            <tr style="color: white">
                                <th style="color: #6c7293">
                                    Sl.no
                                </th>
                                <th style="color: #6c7293">
                                    Student Name
                                </th>
                                <th style="color: #6c7293">
                                    From
                                </th>
                                <th style="color: #6c7293">
                                    To
                                </th>
                                <th style="color: #6c7293">
                                    Reason
                                </th>
                                <th style="color: #6c7293;">
                                    Status
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>

                                    <span class="ps-2">meenu</span>
                                </td>
                                <td>21-03-2022</td>
                                <td>25-03-2022</td>
                                <td>Fever</td>
                                    <td> 
                                     <div class="btn btn-outline-danger" data-toggle="modal"
                                                data-target="#myModal"></a>
                                                <i class="mdi mdi-close"></i>&nbsp; Reject
                                            </div>
                                            <td>
                                                <a href="{% url 'Manager_accepted_leave'%}">
                                                    <div class="btn btn-outline-success" >
                                                        <i class="mdi mdi-check"></i>&nbsp; Approve
                                                    </div>
                                                </a>
                                                
                                            </td>
                                            <!-- <div class="badge badge-outline-success">Approved</div>
                                            <div class="badge badge-outline-danger">Rejected</div> -->
                                    </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>

                                    <span class="ps-2">venu</span>
                                </td>
                                <td>11-03-2022</td>
                                <td>15-03-2022</td>
                                <td>Personal</td>
                                    <td> 
                                     <div class="btn btn-outline-danger" data-toggle="modal"
                                                data-target="#myModal"></a>
                                                <i class="mdi mdi-close"></i>&nbsp; Reject
                                            </div>
                                            <td>
                                                <a href="{% url 'Manager_accepted_leave'%}">
                                                    <div class="btn btn-outline-success" >
                                                        <i class="mdi mdi-check"></i>&nbsp; Approve
                                                    </div>
                                                </a>
                                                
                                            </td>
                                            <!-- <div class="badge badge-outline-success">Approved</div>
                                            <div class="badge badge-outline-danger">Rejected</div> -->
                                    </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Reply</h4>
          <button type="button" class="close" data-dismiss="modal" style="color: white; background-color: black;">&times;</button>
          
        </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    <form action="{% url 'Manager_rejected_leave' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card">
                            <div class="card-body">
                                <div class="row p-3">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                                        <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 form-control  text-light"
                                            style="height: 200px; background-color: #2A3038; " name="reply"
                                            rows="4"> </textarea>
                                    </div>
                                </div>
                                <br>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center pb-3">
                                    <button type="submit" 
                                        class="btn btn-outline-primary btn-icon-text ">
                                        
                                        SUBMIT
                                    </button>
                                </div>
                            </div>
                        </div>
    
                    </form>
    
                </div>

      </div>
      
    </div>
  </div>
  
 


  <script>
    function myFunction() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }


    document.addEventListener("DOMContentLoaded", () => {
      const rows = document.querySelectorAll("tr[data-href]");
      rows.forEach(row => {
        row.addEventListener("click", () => {
          window.location.href = row.dataset.href;
        });
      });
    });

  </script>


{% endblock %}